html, body{
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#header{
    flex: 1;
    background-color: rgb(62, 208, 252);
}
#homeid:hover, #homeid:active {color: rgb(39, 60, 247);}
#homeid{
    flex-grow: 1;
    font-size: xx-large;
    margin-left: 30px;
    font-weight: bold;
    color: black;
}
#cartoonsid:hover, #cartoonsid:active {color: rgb(39, 60, 247);}
#cartoonsid{
    flex-grow: 0.5;
    margin: 20px;
    font-weight: bold;
    color: rgb(88, 88, 88);
    font-size: x-large;
}
#quizid:hover, #quizid:active {color: rgb(39, 60, 247);}
#quizid{
    flex-grow: 3;
    font-weight: bold;
    color: rgb(88, 88, 88);
    font-size: x-large;
}
#body{
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#question_n{
    font-size: x-large;
    left: 0;
    height: 50px;
}
#center{
    width: 70%;
    height: 80%;
    background-color: rgb(125, 221, 101);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#img_p{
    flex: 2.5;
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
}
#question_p{
    width: 70%;
    margin-bottom: 20px;
}
#answer_p{
    flex: 1;
    display: flex;
    width: 70%;
}
#answer{
    font-size: medium;
}
#input_p{
    position: relative;
    right: -70px;
    bottom: -70px;
    right: -120px;
}
#answerinput{
    width: 200px;
    height: 25px;
    border: 2px solid white;
}
#checkbutton{
    width: 100px;
    height: 30px;
}
#checkbutton:hover{
    background-color: rgb(66, 151, 26);
    border: solid 1px rgb(66, 151, 26);
}
#respond{
    color: rgb(66, 151, 26);
    height: 80px;
}

#footer{
    flex: 1;
    background-color: rgb(62, 208, 252);
}
